

.slider_item{
     
    min-height: 80vh;
    width: 100%;
}

.slider_item-01{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/header-1.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.slider_item-02{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/header-2.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.slider_item-03{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/header-3.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}